$shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
$dark-gray: rgba(0, 0, 0, 0.5);
$light-gray: #e8e8e8;
$font: 'Open Sans', sans-serif;
$off-white: #fafafa;
$light-blue: rgba(0, 188, 212,1);
$light-blue-hover: rgba(0, 188, 212, 0.75);
$light-red: #ffecec;
$light-green: #eaffea;
$red: #ffd4d4;
$green: #d5fbd5;
$flags-path: "../../assets/images/flags/";
$all-flag: $flags-path + "/all-flag.png";
$com-flag: $flags-path + "/com-flag.png";
$de-flag: $flags-path + "/de-flag.png";
$es-flag: $flags-path + "/es-flag.png";
$fr-flag: $flags-path + "/fr-flag.png";
$it-flag: $flags-path + "/it-flag.png";
$nl-flag: $flags-path + "/nl-flag.png";
$pl-flag: $flags-path + "/pl-flag.png";
$cn-flag: $flags-path + "/cn-flag.png";
$sk-flag: $flags-path + "/sk-flag.png";
$cz-flag: $flags-path + "/cz-flag.png";
$ru-flag: $flags-path + "/ru-flag.png";
$pt-flag: $flags-path + "/pt-flag.png";
