@import '../../styles/cssVariables';
@import '../../styles/main';

.configuration-item {
    padding: 5px;
    display: block;
    line-height: 20px;
    background-color:$light-gray;
    color: rgba(0, 0, 0, 0.7);
    border-radius:5px;
    margin:5px;
    opacity:.8;
    box-shadow: $shadow;
    label {
        vertical-align: middle;
        color: rgba(0, 0, 0, 0.6);
        padding-left: 10px;
        //font-weight:lighter;
        font-size:16px;

    }

    input[type="button"] {
        @include no-appearance();
        background-color: transparent;
        border:2px solid rgba(0, 0, 0, 0.6);
        color:rgba(0, 0, 0, 0.6);
        border-radius: 50px;
        outline:none;
        font-weight:bold;
        float:right;
        margin-right: 10px;
    }
    &:hover{
      opacity:1;
    }

    &.enabled{
      background-color: $light-green;
    }

    &.disabled{
      background-color: $light-red;
    }
}
