#flag {
    text-align: center;
}

#flag:hover > .flag{
	opacity: .5;
}

#flag:hover > .flag:hover{
	opacity: 1;
}

.flag {
    list-style: none;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 5vw;
    width: 7.5vw;
    box-sizing: border-box;
    border: 5px solid transparent;
}



#de {
    background-image: url("../../assets/images/flags/de-flag.png")
}

#es {
    background-image: url("../../assets/images/flags/es-flag.png")
}

#fr {
    background-image: url("../../assets/images/flags/fr-flag.png")
}

#it {
    background-image: url("../../assets/images/flags/it-flag.png")
}

#nl {
    background-image: url("../../assets/images/flags/nl-flag.png")
}

#pl {
    background-image: url("../../assets/images/flags/pl-flag.png")
}

#cn {
    background-image: url("../../assets/images/flags/cn-flag.png")
}

#sk {
    background-image: url("../../assets/images/flags/sk-flag.png")
}

#cz {
    background-image: url("../../assets/images/flags/cz-flag.png")
}

#ru {
    background-image: url("../../assets/images/flags/ru-flag.png")
}

#pt {
    background-image: url("../../assets/images/flags/pt-flag.png")
}

#com {
    background-image: url("../../assets/images/flags/com-flag.png");
}

#all {
    background-image: url("../../assets/images/flags/all-flag.png")
}
